*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Outfit", sans-serif;
}

:root {
  --color-primary: #672171;
  --color-secondary: #4a5567;
  --color-showcase: #97a3b6;
  --color-text: #f2f5f9;
  --color-button: #c951e7;
  --color-bg: #030616;
  --color-dots: #7429c6;
  --color-button-darker: #993cb1;
  --color-game-bg: rgb(21, 24, 46);
  --max-width: 60rem;
}

@media screen and (min-width: 1700px) {
  :root {
    --max-width: 110rem;
  }
}

/* Typography */
body {
  font-size: 2rem;
}
h1 {
  font-size: 3.2rem;
  color: var(--color-showcase);
}
button {
  font-size: 1.4rem;
  color: var(--color-text);
  font-weight: 600;
}
.small-text {
  font-size: 1.2rem;
  color: var(--color-secondary);
}
@media screen and (max-width: 450px) {
  body {
    font-size: 2rem;
  }
  h1 {
    font-size: 3.2rem;
  }
  button {
    font-size: 1.4rem;
  }
  .small-text {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 5rem;
  }
  .small-text {
    font-size: 1.5rem;
  }
  button {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1700px) {
  body {
    font-size: 4rem;
  }
  h1 {
    font-size: 7rem;
  }
  button {
    font-size: 4.5rem;
  }
  .small-text {
    font-size: 3.5rem;
  }
}

/* Background */
body {
  background-image: url("../images/bg-guess-the-word.png");
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Showcase */

.showcase__container {
  width: 100%;
  background-color: var(--color-secondary);
  border-radius: 2%;
  box-shadow: 2px 4px 2px #141414;
  text-align: center;
  cursor: default;
}
.showcase__heading {
  letter-spacing: 1.5rem;
}

/* Tries & mistakes*/
.tries-mistakes {
  display: inline-block;
  display: flex;
  align-items: end;
}
.tries-mistakes__context {
  margin-right: 1rem;
}
.tries__dots {
  display: flex;
}

.tries__dot {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 100%;
  background-color: var(--color-secondary);
  margin-right: 0.5rem;
}

.tries__dots--highlight {
  background-color: var(--color-dots);
}

.mistakes--word {
  font-size: 2rem;
  color: var(--color-showcase);
}

.tries-mistakes__container {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 80%;
  margin-bottom: 3rem;
  cursor: default;
}
@media screen and (max-width: 450px) {
  .tries-mistakes__container {
    width: 95%;
  }
}
@media screen and (min-width: 1024px) {
  .tries-mistakes__container {
    margin-top: 1.5rem;
    margin-bottom: 5rem;
  }
  .tries__dot {
    width: 0.7rem;
    height: 0.7rem;
    margin-right: 0.7rem;
  }
  .mistakes--word {
    font-size: 2.4rem;
  }
}
@media screen and (min-width: 1700px) {
  .tries-mistakes__container {
    margin-top: 4rem;
    margin-bottom: 10rem;
  }
  .tries__dot {
    width: 2rem;
    height: 2rem;
    margin-right: 2rem;
  }
  .mistakes--word {
    font-size: 4rem;
  }
}

/* Input */
.input__field {
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  outline: none;
  text-align: center;
  background-color: transparent;
  border: 2px solid var(--color-secondary);
  border-radius: 5px;
  color: transparent;
  text-shadow: 0 0 0 var(--color-text);
  cursor: pointer;
}
.input__field:focus {
  border-color: var(--color-primary);
}
.input__fields-container {
  margin: 1rem 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
}
.input__field:disabled {
  font-size: 3rem;
  border: none;
}

@media screen and (max-width: 450px) {
  .input__field {
    width: 3rem;
    height: 3rem;
  }
  .input__fields-container {
    width: 95%;
  }
}
@media screen and (min-width: 1024px) {
  .input__field {
    width: 5rem;
    height: 5rem;
    border-radius: 10px;
    font-size: 3rem;
  }
  .input__field:disabled {
    font-size: 4rem;
  }
}
@media screen and (min-width: 1700px) {
  .input__field {
    width: 10rem;
    height: 10rem;
    font-size: 7rem;
  }
  .input__field:disabled {
    font-size: 8rem;
  }
}

/* Button */
.btn {
  outline: none;
  padding: 1rem 3rem;
  width: 12rem;
  text-align: center;
  background-color: var(--color-button);
  border-radius: 5px;
  border: none;
  box-shadow: 0 4px 1px var(--color-primary);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--color-button-darker);
}
.btn:disabled {
  background-color: var(--color-button-darker);
}

.game-button__container {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}
@media screen and (max-width: 450px) {
  .game-button__container {
    width: 95%;
  }
}
@media screen and (min-width: 1024px) {
  .btn {
    padding: 1.5rem 4rem;
    width: 17rem;
    border-radius: 10px;
  }
  .game-button__container {
    margin-top: 5rem;
  }
}
@media screen and (min-width: 1700px) {
  .btn {
    padding: 2.5rem 6rem;
    width: 30rem;
    border-radius: 10px;
    box-shadow: 0 10px 4px var(--color-primary);
  }
  .game-button__container {
    margin-top: 10rem;
    margin-bottom: 2rem;
  }
}

/* game */
.game {
  max-width: var(--max-width);
  max-height: var(--max-width);
  width: 60%;
  background-color: var(--color-game-bg);
  border-radius: 10px;
}
.game__container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 3rem auto;
}

@media screen and (max-width: 450px) {
  .game {
    width: 97%;
  }
  .game__container {
    width: 95%;
  }
}

/* Game image */

.game__image {
  width: 15rem;
  margin-bottom: 2rem;
  vertical-align: top;
}

@media screen and (max-width: 450px) {
  .game__image {
    width: 15rem;
    margin: 1rem 0;
  }
}
@media screen and (min-width: 1700px) {
  .game__image {
    width: 40rem;
    margin: 5rem 0;
  }
}
